:root
{
    --black: #1F0505;
    --white: #DEE1FA;
    --pink: #E66465;
    --blue: #9198E5;
    --dark_yellow: #E6B000;
    --light_yellow: #FFCF33;
    --brown: #4D1617;
    --see_through_white: rgba(242, 223, 234, 0.7);
}

@font-face
{
    font-family: "Fira Sans";
    src: url("./assets/fonts/fira_sans_light.ttf") format("truetype");
}

*
{	
    margin: 0;
    padding: 0;
    outline: none;
    text-align: justify;
    word-break: break-all;
    font-family: "Fira Sans", sans-serif;
}

body
{
    padding: 15px;
    font-size: 1.1rem;
    background: linear-gradient(var(--pink), var(--blue)) fixed no-repeat;
}

#root
{
    margin: auto;
    width: 70%;
}

/* To push the footer to the bottom even when the view is not scrollable */
#root
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* SCROLLBAR ------------------------------------------------------------------------------------ */

body
{
    /* So the scrollbar is visible even when inactive */
    overflow-y: scroll;
}

::-webkit-scrollbar
{
    width: 15px;
    background: linear-gradient(var(--pink), var(--blue));
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(var(--blue), var(--pink));
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px var(--white);
}

/* BUTTON: PASSWORD EYE TOGGLE ------------------------- */

.field_password
{
    position: relative;
}

.btn_eye
{
    color: var(--black);
    padding-left: 7px;
    background-color: var(--white);
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 12px;
}

/* NAV BAR -------------------------------------------------------------------------------------- */

ul
{
    list-style-type: none;
}

#banner p, h1, h2[id="h1"], h2, h3, #last_article_title
{
    color: var(--blue);
}

#banner p, h1, h2[id="h1"], h2, h3, #last_article_title, #error_message
{
    text-align: center;
}

#last_article_title
{
    font-weight: bold;
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px var(--black);
}

#last_article_title, .article_info
{
    margin-bottom: 10px;
}

.read_more
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

#banner p, h1, h2[id="h1"]
{
    text-transform: uppercase;
}

#banner p
{
    font-size: 4rem;
}

h1, h2[id="h1"], h2, h3
{
    margin-bottom: 20px;
}

h1, h2[id="h1"]
{
    font-size: 2.5rem;
}

h2, h3, h2 a
{
    margin-top: 20px;
    font-size: 2rem;
}

header ul li
{
    font-size: 1.5rem;
}

#banner p, h1, h2[id="h1"], h2, a, span[class="a"], footer, h3
{
    text-shadow: 2px 2px 4px var(--black);
}

#banner p, h1, h2[id="h1"], h2, h3, a, span[class="a"], strong, #txt_likes
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

a, span[class="a"]
{
    color: var(--dark_yellow);
    text-decoration: none;
}

a, button, input[type="button"], select, input[type="submit"], input[type="reset"]
{
    cursor: pointer;
}

span[class="a"]
{
    cursor: not-allowed;
}

#copyright, #txt_likes
{
    cursor: default;
}

a:hover, span[class="a"]:hover
{
    color: var(--light_yellow);
}

.logo img
{
    margin: 10px;
    max-width: 130px;
    max-height: 130px;
}

header img, header ul li, main, div#main, input, textarea, select
{
    border-radius: 10px;
}

header img, header ul li, main, div#main
{
    box-shadow: 3px 3px 5px var(--white), -3px -3px 5px var(--white);
}

header ul li, button, input[type="button"], input[type="submit"], input[type="reset"]
{
    border-radius: 42px;
}

button, input, select, textarea
{
    border: 3px solid var(--blue);
}

header img
{
    width: 100%;
    z-index: 0;	
}

#banner
{
    position: relative;
}

#banner p
{
    z-index: 1;
    position: absolute;
    top: 20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
}

header ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header ul li
{
    margin: 5px;
    margin-top: 25px;
    padding: 20px;
    background: linear-gradient(var(--blue), var(--pink)) fixed no-repeat;
}

main, div#main
{
    margin: 20px 0px;
    padding: 15px;
    background: linear-gradient(var(--blue), var(--pink)) fixed no-repeat;
}

button, input, textarea, select
{
    padding: 10px;
}

footer ul
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social_media
{
    margin-bottom: 15px;
}

#social_media ul
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#book_presentation
{
    display: flex;
    flex-flow: row nowrap;
}

#book_catch_phrase
{
    margin-bottom: 10px;
    text-align: center;
}

#book_summary p, #presentation_website p:last-child, #blog_article p
{
    margin-top: 20px;
}

#book_cover
{
    margin-right: 20px;
    padding: 10px;
    max-width: 350px;
    max-height: 500px;
    box-shadow: 4px 4px 8px inset var(--see_through_white), -4px -4px 8px inset var(--see_through_white);
    border-radius: 10px;
}

.page_numbers a, .page_numbers span[class="a"]
{
    margin: 10px;
    padding: 15px;
    background-color: var(--blue);
    box-shadow: inset 2px 2px 4px var(--white), inset -2px -2px 4px var(--black);
    border-radius: 50%;
}

.page_numbers
{
    margin: 35px 0px 10px 0px;
}

.page_numbers_top, .page_numbers_bottom
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#article_info
{
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--blue);
    text-shadow: 1px 1px 2px var(--black);
}

#likes_dislikes:before, #likes_dislikes:after
{
    display: block;
    content: "";
    background-color: var(--white);
    height: 2px;
    width: 100%;
}

#likes_dislikes:before
{
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px var(--black);
}

#likes_dislikes:after
{
    margin-top: 10px;
    box-shadow: -2px -2px 5px var(--black);
}

#likes_dislikes
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}

#txt_likes, #btn_like
{
    margin-right: 5px;
}

/* VIEW: BLOG ----------------------------------------------------------------------------------- */

.blog_section
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    margin: 15px 0px;
    padding: 0px 15px 25px;
    box-shadow: inset 2px 2px 4px var(--brown), inset -2px -2px 4px var(--brown);
    border-radius: 5px;
}

/* VIEW: CONTACT -------------------------------------------------------------------------------- */

#contact_form label
{
    margin-right: 15px;
    font-size: 1.2rem;
}

#visitor_name, #visitor_email, #message_content
{
    margin-bottom: 10px;
}

#message_content
{
    margin-top: 10px;
}

#btn_reset
{
    margin-right: 5px;
}

#btn_send
{
    margin-left: 5px;
}

/* VIEW: CONTROL PANEL -------------------------------------------------------------------------- */

main form
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

main input
{
    max-width: 300px;
}

#field_login_username, #field_login_password
{
    margin-bottom: 10px;
}

#back_talks
{
    margin-top: 40px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#go_to_blogeditor
{
    display: flex;
    justify-content: space-around;
}

#control_panel_blog_buttons
{
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

#btn_post_article
{
    margin-bottom: 20px;
}

#control_panel_extended_buttons
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#control_panel_extended_buttons .buttons
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#btn_post_article, #select_article
{
    align-self: start;
}

#select_article
{
    margin: 0px 20px;
    margin-bottom: 10px;
}

#btn_modify_article
{
    margin-bottom: 10px;
}

#control_panel_blog_fields label
{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.div_category
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#field_article_new_category, #btn_add_category
{
    margin-top: 10px;
}

#btn_delete_category, #field_article_new_category, #btn_add_category
{
    margin-left: 10px;
}

#btn_preview_article
{
    margin-top: 10px;
}

#div_btn_preview_article
{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 870px)
{
    #select_article
    {
        margin-left: 0;
    }
}

/* VIEW: LICENSES ------------------------------------------------------------------------------- */

main ul
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* VIEW: WORKS ---------------------------------------------------------------------------------- */

#book_info_main, #book_info_date
{
    margin-bottom: 20px;
}

#book_info_summary_title
{
    margin-bottom: 20px;
}

#ebook_formats
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#ebook_formats li
{
    padding: 20px;
    background-color: var(--blue);
    border-radius: 5px;
    box-shadow: 2px 2px 4px inset var(--white), -2px -2px 4px inset var(--black);
}

#works aside div
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#ebook_format_options
{
    margin: 15px 0px;
}

#ebook_format_options input[type="radio"]
{
    margin-right: 8px;
}

