#contact_socials
{
	margin-bottom: 15px;
}

#contact_socials ul
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#contact_form label
{
	margin-right: 15px;
	font-size: 1.2rem;
}

#visitor_name, #visitor_email, #message_content
{
	margin-bottom: 10px;
}

#message_content
{
	margin-top: 10px;
}

#btn_reset
{
	margin-right: 5px;
}

#btn_send
{
	margin-left: 5px;
}

