#book_info_main, #book_info_date
{
	margin-bottom: 20px;
}

#book_info_summary_title
{
	margin-bottom: 20px;
}

#ebook_formats
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#ebook_formats li
{
	padding: 20px;
	background-color: #9198E5;
	border-radius: 5px;
	box-shadow: 2px 2px 4px inset #FFF, -2px -2px 4px inset #141426;
}

#works aside div
{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#ebook_format_options
{
	margin: 15px 0px;
}

#ebook_format_options input[type="radio"]
{
	margin-right: 8px;
}

